:root {
  --bgColor: #51E59E;
  --secondaryColor: #e5e5e5;
  --secondaryHover: #d0d0d0;
  --text-color: #000;
  --bgInput: #fff;
}
[data-theme='dark'] {
  --bgColor: #343541;
  --secondaryColor: #40414f;
  --secondaryHover: #454656;
  --text-color: #a5a5a5;
  --bgInput: #a5a5a5;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Regular.ttf') format('truetype');
}
html{
  background-color: var(--bgColor);
}
.App {
  text-align: center;
  min-height: 100vh;
  background-color: var(--bgColor);
}
/*.App.dark {*/
/*  background-color: darkslategray;*/
/*}*/
body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",*/
  /*"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",*/
  /*sans-serif;*/
  font-family: 'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input, select {
  background-color: var(--bgInput);
  border: none;
  padding: 7px;
}
p, button, h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}
input[type="number"] {
  margin-left: 7px;
}
.card {
  color: var(--text-color);
}
h3 {
  margin: 10px 0;
}
h2 {
  margin: 0;
}
a {
  display: contents;
}
.appName {
  font-size: 20px;
  font-weight: bolder;
}
.appHeader {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}
.appHeader button {
  transition: all .5s ease;
}
.appHeader button:hover {
  opacity: 0.6;
  cursor: pointer;
}
.appHeader p {
  color: black;
}
.appHeader img {
  width: 30px;
  height: 30px;
  align-self: center;
}
.headerIcons {
  width: 50px;
  height: 50px;
  align-self: center;
}
.headerFlex {
  display: flex;
  gap: 15px;
}
.container {
  padding: 80px 150px;
  max-width: 800px;
  margin: auto;
}
.card {
  background-color: var(--secondaryColor);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-bottom: 20px;
  transition: all .5s ease;
}
.card-title {
  margin-bottom: 20px;
}
.card-title h1 {
  margin: 0;
}
.card img {
  margin: 5vw 0;
  width: 80px;
  height: 80px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3,minmax(0,1fr));
  gap: 5%;
}
.cards .card {
  padding: 25px;
}
.cards .card:hover {
  background-color: var(--secondaryHover);
}
.info-card {
  padding: 25px;
}
.info-card button {
  width: fit-content;
  align-self: center;
  min-width: 50%;
}
.answer-card {
  border-radius: 0;
  text-align: left;
  margin: 15px 15%;
  display: flex;
  flex-direction: row;
  padding: 10px;
  transition: all .5s ease;
}
.answer-card:hover {
  cursor: pointer;
  background-color: var(--secondaryHover);
}
.answer-card input {
  margin-right: 10px;
}
.answers {
  margin: 50px 0;
}
.controls-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.controls-btn button {
  width: 20%;
  min-width: 150px;
}
.primary-button {
  background-color: black;
  color: white;
  border-radius: 50px;
  padding: 5px 10px;
  transition: all .5s ease;
  border: 2px solid black;
}
.primary-button:hover {
  background-color: transparent;
  color: black;
  cursor: pointer;
}
.secondary-button {
  background-color: transparent;
  color: black;
  border-radius: 50px;
  padding: 5px 10px;
  transition: all .5s ease;
  border: 2px solid black;
}
.secondary-button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.headerButton {
  display: flex;
  gap: 7px;
  background-color: unset;
  color: black;
  border-radius: 50px;
  border: none;
}
.headerButton p {
  font-size: 18px;
}
.loginContent {
  text-align: center;
  text-align: -webkit-center;
}
.loginContent .card {
  width: fit-content;
  margin: auto;
  min-width: 40%;
  padding: 25px;
}
.loginContent button {
  margin-top: 10px;
}
.loginContent img {
  margin: 0;
  width: 20px;
  height: unset;
}
.login-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}
.login-fields input {
  width: 90%;
  margin-bottom: 20px;
  padding: 10px;
}
.login-fields {
  margin-bottom: 30px;
}
.login-fields div label {
  text-align: left;
  text-align: -webkit-left;
}
.card-advice {
  text-align: left;
  text-align: -webkit-left;
}
.profileIcon {
  width: 50px;
  height: 50px;
  align-self: center;
  margin: 0 !important;
  border-radius: 100px;
}
.profile-card {
  width: fit-content;
  margin: auto;
  min-width: 35%;
  padding: 25px;
}
.profile-card h1 {
  margin-top: 0;
}
.profile-form {
  margin-top: 20px;
}
.form-fields label{
  margin-left: 2px;
}
.form-fields {
  text-align: left;
  text-align: -webkit-left;
}
.form-fields input {
  width: 90%;
  margin-bottom: 10px;
  padding: 7px;
}
.form-fields div {
  display: flex;
  flex-direction: column;
}
.login-form button {
  margin: 10px 0;
}
.login-header {
  text-align: -webkit-center;
  text-align: center;
  padding-top: 50px;
}
.login-header img {
  width: 70px;
}
.login-header h1 {
  margin: 0;
}
.login-icon {
  width: 80px !important;
  margin: 20px 0 0 !important;
}
.container.loginContent {
  padding-top: 45px;
}
.bmi-result {
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}
.bmi-result span{
  font-weight: bolder;
  font-size: larger;
}
.bmi button {
  width: fit-content;
  align-self: center;
}
.underweight, .overweight, .obese {
  color: red;
}
.normal {
  color: green;
}
.questionZone input[type="email"] {
  width: 90%;
  margin: 10px 0;
  padding: 7px;
}
.questionZone input[type="checkbox"] {
  margin-right: 10px;
}
.questionZone .card {
  align-items: center;
}
.questionZone ul {
  list-style-type: none;
  padding: 0;
  color: var(--bgColor);
  margin-bottom: 0;
}
.questionZone ul li {
  padding: 5px 0;
}
.error404 .card {
  align-items: center;
}
.contact-list {
  list-style-type: none;
  padding-left: 0;
  transition: all .5s ease;
}
.contact-list li a {
  color: #328d61;
  transition: all .5s ease;
}
.contact-list li a:hover {
  color: black;
}
.contact-list li {
  transition: all .5s ease;
}
.contact-list li:hover {
  text-decoration: underline;
}
.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.adminPage .buttons {
  width: fit-content;
  margin-top: 20px;
}
.adminPage .card {
  align-items: center;
}
.adminPage ul {
  text-align: center;
  text-align: -webkit-center;
}
.adminPage ul li {
  width: fit-content;
}
.selectResult {
  text-align: center;
  text-align: -webkit-center;
}
svg text {
  fill: var(--text-color) !important;
}
.card-result {
  background-color: var(--secondaryHover);
  text-align: center;
  text-align: -webkit-center;
}
.results .info-card {
  gap: 50px;
}

/* RESPONSIVE PART */
@media (max-width: 900px) {
  .container {
    padding: 40px 20px;
  }
}

@media (max-width: 600px) {
  .cards {
    display: block;
    max-width: 180px;
    margin: auto;
  }
  .headerFlex p {
    display: none;
  }
  .answer-card {
    margin: 15px 0;
  }
}

@media (max-width: 350px) {
  .controls-btn {
    flex-direction: column-reverse;
    gap: 10px;
    align-items: center;
  }
}